# Creating a World Cities dataset

The wikipedia page [List of largest cities](https://en.wikipedia.org/wiki/List_of_largest_cities) has a list of the largest cities in the world.  
We are interested in table that contains the actual cities, and want the cityname, the nation, and its city proper population.

In [Section 2](#2.-Scrape-list-of-largest-cities-from-Wikipedia), we use urllib to fetch the page, then BeautifulSoup to parse it and find the first (and only) sortable table.  
We also scrape the URL referencing the individual cities' pages.

In [Section 3](#3.-Adding-geopositioning-data) we scrape the wikipedia page for every individual city in order to get the cities geographic coordinates.  
In theory we could use this step to grab more information, like population density. However, since we want to demonstrate the use of the Foursquare API, we will not use such data.

In [Section 4](#4.-Getting-more-information-from-Foursquare) we use the Foursquare API to learn more about these cities. 
Specifically we ask for top recommendations in those cities, to get an idea of what is popular.

In [Section 5](#5.-Saving-the-dataframes) we export the created dataframe so we can import it in other notebooks.

## 1. Imports and such things

We use the following libraries to fetch and parse html pages, and to interact with the Foursquare API.

In [2]:
import urllib.request
from bs4 import BeautifulSoup
import requests

We use regular expressions, e.g. to extract population count and city coordinates from scraped webpages

In [3]:
import re

We use Pandas for building the dataframe.

In [4]:
import pandas as pd

## 2. Scrape list of largest cities from Wikipedia

The following code fetches a Wikipedia page.

In [5]:
# location of the wikipedia article
url = "https://en.wikipedia.org/wiki/List_of_largest_cities"

# fetch the article
req = urllib.request.urlopen(url)
article = req.read().decode()

We use BeautifulSoup to parse the obtained HTML, and find the first sortable table. This is the table of Largest cities that dominates the Wikipedia article.

In [6]:
# parse with BeautifulSoup and find the first sortable table
soup = BeautifulSoup(article, 'html.parser')
table = soup.find('table', class_='sortable')

We create a new Pandas dataframe to hold our cities. We will also save its nation, its population count, and its URL.

In [7]:
# create an empty DataFrame
cols=["City", "Nation", "Population", "URL"]
df_cities = pd.DataFrame(columns=cols)
df_cities['Population'].astype(int)

Series([], Name: Population, dtype: int32)

We can now traverse through the entire table and append the required data to our dataframe

In [8]:
# iterate trough all the rows in the table:
for tr in table.find_all('tr'):
    tds = tr.find_all('td')
    if not tds:
        continue                            # skips first row with headings
    nation = tds[0].find('a').string        # first td column contains nation   
    try:
        pop = int(re.compile(r'\[.*\]').sub("",tds[2].text).replace(',',''))  # rough but working way to parse the population count
    except ValueError:
        pop = 0                             # but not every city has a population count
    city_a = tr.find('th').find('a')        # the first column contains th tag and contains the <a> link to the city
    city = city_a.string
    url = "https://en.wikipedia.org" + city_a['href']
    df_cities = df_cities.append({
        'City': str(city), 
        'Nation': str(nation), 
        'Population': pop, 
        'URL': str(url)
    }, ignore_index=True)

In [9]:
print ("Shape: {}", df_cities.shape)
df_cities.head()

Shape: {} (247, 4)

        City      Nation Population                                      URL
0  Chongqing       China   30751600  https://en.wikipedia.org/wiki/Chongqing
1   Shanghai       China   24256800   https://en.wikipedia.org/wiki/Shanghai
2      Delhi       India   11034555      https://en.wikipedia.org/wiki/Delhi
3    Beijing       China   21516000    https://en.wikipedia.org/wiki/Beijing
4      Dhaka  Bangladesh   14399000      https://en.wikipedia.org/wiki/Dhaka

## 3. Adding geopositioning data
Every city's wikipedia page contains the geographic coordinates, which we can also scrape.
The following function scrapes the city page and uses a simple regular expression to capture the coordinates.

Here we don't need BeautifulSoup, since we have a Regular Expression that we can directly run on the fetched html.

In [10]:
# Scrape an individual cities page for its coordinates
def scrape_city_coords(url):
    req = urllib.request.urlopen(url)
    article = req.read().decode()
    reg = re.search(r'"lat":(.*?),"lon":(.*?)}', article)
    lat = float(reg.group(1))
    lon = float(reg.group(2))
    return lat,lon

Next we will run this function on the URLs to create two new columns

In [11]:
df_cities["Latitude"], df_cities["Longitude"] = zip(*df_cities["URL"].map(scrape_city_coords))

In [12]:
df_cities.head()

,City,Nation,Population,URL,Latitude,Longitude
0,Chongqing,China,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
1,Shanghai,China,24256800,https://en.wikipedia.org/wiki/Shanghai,31.228611,121.474722
2,Delhi,India,11034555,https://en.wikipedia.org/wiki/Delhi,28.610000,77.230000
3,Beijing,China,21516000,https://en.wikipedia.org/wiki/Beijing,39.916667,116.383333
4,Dhaka,Bangladesh,14399000,https://en.wikipedia.org/wiki/Dhaka,23.716111,90.396111

## 4. Getting more information from Foursquare

This information is needed to connect with Foursquare API

In [13]:
CLIENT_ID = 'YPBVFDUZOP1M24BKCWGXIYZ3RFACOE3V35WSFY4DSCMRU44L' # your Foursquare ID
CLIENT_SECRET = 'VYHYTBSRIZBPYAOCP5ZEFV3YM4C40YEQCQWCUO4NC1JTPNJM' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

We will ask Foursquare for the top picks in every city, then store its name, location and main category.

In [22]:
def getRecommendedVenues(cities, latitudes, longitudes):
    
    venues_list=[]
    for city, lat, lon in zip(cities, latitudes, longitudes):
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&section=topPicks&client_id={}&client_secret={}&v={}&ll={},{}&limit=50'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lon)
            
        # make the GET request
        response = requests.get(url)
        if response.status_code == requests.codes.ok:
            results = response.json()["response"]['groups'][0]['items']
        else:
            print ("status was:" + str(response.status_code))
            print (response)
            continue
        
        print("City: {}, results: {}".format(city, len(results)))
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            city,
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])


    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['City',
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

Now, actually run the above function for every city.

In [ ]:
df_venues = getRecommendedVenues(df_cities['City'], df_cities['Latitude'], df_cities['Longitude'])

City: Chongqing, results: 18
City: Shanghai, results: 41
City: Delhi, results: 50
City: Beijing, results: 42
City: Dhaka, results: 30
City: Mumbai, results: 37
City: Lagos, results: 50
City: Chengdu, results: 24
City: Karachi, results: 50
City: Guangzhou, results: 50
City: Istanbul, results: 50
City: Tokyo, results: 45
City: Tianjin, results: 32
City: Moscow, results: 50
City: São Paulo, results: 50
City: Kinshasa, results: 22
City: Baoding, results: 2
City: Lahore, results: 50
City: Cairo, results: 50
City: Seoul, results: 6
City: Jakarta, results: 19
City: Wenzhou, results: 9
City: Mexico City, results: 50
City: Lima, results: 50
City: London, results: 50
City: Bangkok, results: 26
City: Xi'an, results: 24
City: Chennai, results: 50
City: Bangalore, results: 50
City: New York City, results: 50
City: Ho Chi Minh City, results: 30
City: Hyderabad, results: 50
City: Shenzhen, results: 50
City: Suzhou, results: 21
City: Nanjing, results: 27
City: Dongguan, results: 21
City: Tehran, results: 50
City: Quanzhou, results: 5
City: Shenyang, results: 18
City: Bogotá, results: 50
City: Hong Kong, results: 36
City: Baghdad, results: 50
City: Fuzhou, results: 12
City: Changsha, results: 10
City: Wuhan, results: 8
City: Hanoi, results: 50
City: Rio de Janeiro, results: 50
City: Qingdao, results: 25
City: Foshan, results: 11
City: Zunyi, results: 8
City: Santiago, results: 34
City: Riyadh, results: 50
City: Ahmedabad, results: 50
City: Singapore, results: 6
City: Shantou, results: 4
City: Ankara, results: 50
City: Yangon, results: 50
City: Saint Petersburg, results: 50
City: Sydney, results: 13
City: Casablanca, results: 50
City: Melbourne, results: 24
City: Abidjan, results: 50
City: Alexandria, results: 50
City: Kolkata, results: 50
City: Surat, results: 50
City: Johannesburg, results: 50
City: Dar es Salaam, results: 50
City: Shijiazhuang, results: 5
City: Harbin, results: 14
City: Giza, results: 50
City: İzmir, results: 50
City: Zhengzhou, results: 4
City: New Taipei City, results: 12
City: Los Angeles, results: 26
City: Changchun, results: 7
City: Cape Town, results: 50
City: Yokohama, results: 18
City: Khartoum, results: 28
City: Guayaquil, results: 50
City: Hangzhou, results: 46
City: Xiamen, results: 25
City: Berlin, results: 50
City: Busan, results: 14
City: Ningbo, results: 26
City: Jeddah, results: 50
City: Durban, results: 35
City: Algiers, results: 50
City: Kabul, results: 17
City: Hefei, results: 8
City: Mashhad, results: 50
City: Pyongyang, results: 4

In [ ]:
df_venues.head()

That's looking pretty awesome. Now let's prevent more scraping by saving the dataframe to a file.

## 5. Joining the dataframe

In [ ]:
df_joined = pd.merge(df_venues, df_cities, on='City')
df_joined.head()

## 6. Saving the dataframes

We export the dataframes so we don't have to scrape again.  
First as CSV, as this is a very generic format.  
Secondly as pickle, since this is a quick way to import the dataframe again.

In [ ]:
# export both dataframes as CSV
df_cities.to_csv('cities.csv')
df_venues.to_csv('venues.csv')
df_joined.to_csv('joined.cvs')

In [ ]:
# export both dataframe as pickles
df_cities.to_pickle('cities.pickle')
df_venues.to_pickle('venues.pickle')
df_joined.to_pickle('joined.pickle')