# Creating a World Cities dataset

The wikipedia page [List of largest cities](https://en.wikipedia.org/wiki/List_of_largest_cities) has a list of the largest cities in the world.  
We are interested in table that contains the actual cities, and want the cityname, the nation, and its city proper population.

In [Section 2](#2.-Scrape-list-of-largest-cities-from-Wikipedia), we use urllib to fetch the page, then BeautifulSoup to parse it and find the first (and only) sortable table.  
We also scrape the URL referencing the individual cities' pages.

In [Section 3](#3.-Adding-geopositioning-data) we scrape the wikipedia page for every individual city in order to get the cities geographic coordinates.  
In theory we could use this step to grab more information, like population density. However, since we want to demonstrate the use of the Foursquare API, we will not use such data.

In [Section 4](#4.-Getting-more-information-from-Foursquare) we use the Foursquare API to learn more about these cities. 
Specifically we ask for top recommendations in those cities, to get an idea of what is popular.

In [Section 5](#5.-Saving-the-dataframes) we export the created dataframe so we can import it in other notebooks.

## 1. Imports and such things

We use the following libraries to fetch and parse html pages, and to interact with the Foursquare API.

In [1]:
import urllib.request
from bs4 import BeautifulSoup
import requests

We use regular expressions, e.g. to extract population count and city coordinates from scraped webpages

In [2]:
import re

We use Pandas for building the dataframe.

In [3]:
import pandas as pd

## 2. Scrape list of largest cities from Wikipedia

The following code fetches a Wikipedia page.

In [4]:
# location of the wikipedia article
url = "https://en.wikipedia.org/wiki/List_of_largest_cities"

# fetch the article
req = urllib.request.urlopen(url)
article = req.read().decode()

We use BeautifulSoup to parse the obtained HTML, and find the first sortable table. This is the table of Largest cities that dominates the Wikipedia article.

In [5]:
# parse with BeautifulSoup and find the first sortable table
soup = BeautifulSoup(article, 'html.parser')
table = soup.find('table', class_='sortable')

We create a new Pandas dataframe to hold our cities. We will also save its nation, its population count, and its URL.

In [6]:
# create an empty DataFrame
cols=["City", "Nation", "Population", "URL"]
df_cities = pd.DataFrame(columns=cols)
df_cities['Population'].astype(int)

Series([], Name: Population, dtype: int64)

We can now traverse through the entire table and append the required data to our dataframe

In [7]:
# iterate trough all the rows in the table:
for tr in table.find_all('tr'):
    tds = tr.find_all('td')
    if not tds:
        continue                            # skips first row with headings
    nation = tds[0].find('a').string        # first td column contains nation   
    try:
        pop = int(re.compile(r'\[.*\]').sub("",tds[2].text).replace(',',''))  # rough but working way to parse the population count
    except ValueError:
        pop = 0                             # but not every city has a population count
    city_a = tr.find('th').find('a')        # the first column contains th tag and contains the <a> link to the city
    city = city_a.string
    url = "https://en.wikipedia.org" + city_a['href']
    df_cities = df_cities.append({
        'City': str(city), 
        'Nation': str(nation), 
        'Population': pop, 
        'URL': str(url)
    }, ignore_index=True)

In [8]:
print ("Shape: {}".format(df_cities.shape))
print ("There are {} unique city names".format(df_cities['City'].nunique()))

Shape: (247, 4)
There are 246 unique city names

This is strange, apparently a city occurs twice in the list?
This is the city of *Hyderabad*. They have one in both India and in Pakistan.

Conclusion: we cannot use 'city' as unique identifier to this list.

In [9]:
print ("There are {} unique city/nation combinations".format(len(df_cities.groupby(['City', 'Nation']))))
df_cities.head()

There are 247 unique city/nation combinations

        City      Nation Population                                      URL
0  Chongqing       China   30751600  https://en.wikipedia.org/wiki/Chongqing
1   Shanghai       China   24256800   https://en.wikipedia.org/wiki/Shanghai
2      Delhi       India   11034555      https://en.wikipedia.org/wiki/Delhi
3    Beijing       China   21516000    https://en.wikipedia.org/wiki/Beijing
4      Dhaka  Bangladesh   14399000      https://en.wikipedia.org/wiki/Dhaka

## 3. Adding geopositioning data
Every city's wikipedia page contains the geographic coordinates, which we can also scrape.
The following function scrapes the city page and uses a simple regular expression to capture the coordinates.

Here we don't need BeautifulSoup, since we have a Regular Expression that we can directly run on the fetched html.

In [10]:
# Scrape an individual cities page for its coordinates
def scrape_city_coords(url):
    req = urllib.request.urlopen(url)
    article = req.read().decode()
    reg = re.search(r'"lat":(.*?),"lon":(.*?)}', article)
    lat = float(reg.group(1))
    lon = float(reg.group(2))
    return lat,lon

Next we will run this function on the URLs to create two new columns

In [11]:
df_cities["Latitude"], df_cities["Longitude"] = zip(*df_cities["URL"].map(scrape_city_coords))

In [12]:
df_cities.head()

,City,Nation,Population,URL,Latitude,Longitude
0,Chongqing,China,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
1,Shanghai,China,24256800,https://en.wikipedia.org/wiki/Shanghai,31.228611,121.474722
2,Delhi,India,11034555,https://en.wikipedia.org/wiki/Delhi,28.610000,77.230000
3,Beijing,China,21516000,https://en.wikipedia.org/wiki/Beijing,39.916667,116.383333
4,Dhaka,Bangladesh,14399000,https://en.wikipedia.org/wiki/Dhaka,23.716111,90.396111

## 4. Getting more information from Foursquare

This information is needed to connect with Foursquare API

In [13]:
CLIENT_ID = 'YPBVFDUZOP1M24BKCWGXIYZ3RFACOE3V35WSFY4DSCMRU44L' # your Foursquare ID
CLIENT_SECRET = 'VYHYTBSRIZBPYAOCP5ZEFV3YM4C40YEQCQWCUO4NC1JTPNJM' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

We will ask Foursquare for the top picks in every city, then store its name, location and main category.

In [14]:
RADIUS=20000 # search within 20km from city centre (max=100km)
LIMIT=100    # maximum of 100 venues per city (max=100)

def getRecommendedVenues(cities, nations, latitudes, longitudes):
    
    venues_list=[]
    for city, nation, lat, lon in zip(cities, nations, latitudes, longitudes):
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&section=topPicks&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lon,
            RADIUS,
            LIMIT)
            
        # make the GET request
        response = requests.get(url)
        if response.status_code == requests.codes.ok:
            results = response.json()["response"]['groups'][0]['items']
        else:
            print ("status was:" + str(response.status_code))
            print ("could not scrape " + url)
            break
        
        print("City: {}, Nation: {}, results: {}".format(city, nation, len(results)))
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            city,
            nation,
            v['venue']['name'], 
            v['venue']['id'],
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])


    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['City',
                  'Nation',
                  'Venue',
                  'Venue ID',
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

Now, actually run the above function for every city.

In [15]:
df_venues = getRecommendedVenues(df_cities['City'], df_cities['Nation'], df_cities['Latitude'], df_cities['Longitude'])

City: Chongqing, Nation: China, results: 16
City: Shanghai, Nation: China, results: 96
City: Delhi, Nation: India, results: 100
City: Beijing, Nation: China, results: 87
City: Dhaka, Nation: Bangladesh, results: 83
City: Mumbai, Nation: India, results: 100
City: Lagos, Nation: Nigeria, results: 100
City: Chengdu, Nation: China, results: 15
City: Karachi, Nation: Pakistan, results: 100
City: Guangzhou, Nation: China, results: 90
City: Istanbul, Nation: Turkey, results: 100
City: Tokyo, Nation: Japan, results: 28
City: Tianjin, Nation: China, results: 34
City: Moscow, Nation: Russia, results: 100
City: São Paulo, Nation: Brazil, results: 100
City: Kinshasa, Nation: DR Congo, results: 24
City: Baoding, Nation: China, results: 3
City: Lahore, Nation: Pakistan, results: 100
City: Cairo, Nation: Egypt, results: 100
City: Seoul, Nation: Korea, South, results: 62
City: Jakarta, Nation: Indonesia, results: 100
City: Wenzhou, Nation: China, results: 5
City: Mexico City, Nation: Mexico, results: 94
City: Lima, Nation: Peru, results: 100
City: London, Nation: United Kingdom, results: 100
City: Bangkok, Nation: Thailand, results: 68
City: Xi'an, Nation: China, results: 22
City: Chennai, Nation: India, results: 100
City: Bangalore, Nation: India, results: 100
City: New York City, Nation: United States, results: 100
City: Ho Chi Minh City, Nation: Vietnam, results: 100
City: Hyderabad, Nation: India, results: 100
City: Shenzhen, Nation: China, results: 85
City: Suzhou, Nation: China, results: 22
City: Nanjing, Nation: China, results: 23
City: Dongguan, Nation: China, results: 16
City: Tehran, Nation: Iran, results: 100
City: Quanzhou, Nation: China, results: 5
City: Shenyang, Nation: China, results: 17
City: Bogotá, Nation: Colombia, results: 87
City: Hong Kong, Nation: China, results: 82
City: Baghdad, Nation: Iraq, results: 62
City: Fuzhou, Nation: China, results: 8
City: Changsha, Nation: China, results: 9
City: Wuhan, Nation: China, results: 14
City: Hanoi, Nation: Vietnam, results: 100
City: Rio de Janeiro, Nation: Brazil, results: 100
City: Qingdao, Nation: China, results: 16
City: Foshan, Nation: China, results: 30
City: Zunyi, Nation: China, results: 6
City: Santiago, Nation: Chile, results: 100
City: Riyadh, Nation: Saudi Arabia, results: 100
City: Ahmedabad, Nation: India, results: 100
City: Singapore, Nation: Singapore, results: 100
City: Shantou, Nation: China, results: 5
City: Ankara, Nation: Turkey, results: 100
City: Yangon, Nation: Myanmar, results: 45
City: Saint Petersburg, Nation: Russia, results: 100
City: Sydney, Nation: Australia, results: 4
City: Casablanca, Nation: Morocco, results: 100
City: Melbourne, Nation: Australia, results: 6
City: Abidjan, Nation: Ivory Coast, results: 44
City: Alexandria, Nation: Egypt, results: 100
City: Kolkata, Nation: India, results: 93
City: Surat, Nation: India, results: 52
City: Johannesburg, Nation: South Africa, results: 100
City: Dar es Salaam, Nation: Tanzania, results: 59
City: Shijiazhuang, Nation: China, results: 4
City: Harbin, Nation: China, results: 15
City: Giza, Nation: Egypt, results: 100
City: İzmir, Nation: Turkey, results: 100
City: Zhengzhou, Nation: China, results: 6
City: New Taipei City, Nation: Taiwan, results: 83
City: Los Angeles, Nation: United States, results: 34
City: Changchun, Nation: China, results: 9
City: Cape Town, Nation: South Africa, results: 100
City: Yokohama, Nation: Japan, results: 41
City: Khartoum, Nation: Sudan, results: 100
City: Guayaquil, Nation: Ecuador, results: 100
City: Hangzhou, Nation: China, results: 39
City: Xiamen, Nation: China, results: 36
City: Berlin, Nation: Germany, results: 100
City: Busan, Nation: Korea, South, results: 71
City: Ningbo, Nation: China, results: 27
City: Jeddah, Nation: Saudi Arabia, results: 100
City: Durban, Nation: South Africa, results: 97
City: Algiers, Nation: Algeria, results: 82
City: Kabul, Nation: Afghanistan, results: 21
City: Hefei, Nation: China, results: 13
City: Mashhad, Nation: Iran, results: 81
City: Pyongyang, Nation: Korea, North, results: 6
City: Madrid, Nation: Spain, results: 100
City: Faisalabad, Nation: Pakistan, results: 18
City: Baku, Nation: Azerbaijan, results: 100
City: Tangshan, Nation: China, results: 4
City: Ekurhuleni, Nation: South Africa, results: 100
City: Nairobi, Nation: Kenya, results: 100
City: Zhongshan, Nation: China, results: 3
City: Pune, Nation: India, results: 100
City: Addis Ababa, Nation: Ethiopia, results: 30
City: Jaipur, Nation: India, results: 38
City: Buenos Aires, Nation: Argentina, results: 100
City: Incheon, Nation: Korea, South, results: 50
City: Quezon City, Nation: Philippines, results: 91
City: Toronto, Nation: Canada, results: 100
City: Kiev, Nation: Ukraine, results: 100
City: Salvador, Nation: Brazil, results: 100
City: Rome, Nation: Italy, results: 100
City: Dubai, Nation: United Arab Emirates, results: 100
City: Luanda, Nation: Angola, results: 53
City: Lucknow, Nation: India, results: 37
City: Kaohsiung, Nation: Taiwan, results: 38
City: Kanpur, Nation: India, results: 15
City: Surabaya, Nation: Indonesia, results: 100
City: Taichung, Nation: Taiwan, results: 57
City: Basra, Nation: Iraq, results: 13
City: Taipei, Nation: Taiwan, results: 84
City: Chicago, Nation: United States, results: 95
City: Osaka, Nation: Japan, results: 34
City: Quito, Nation: Ecuador, results: 100
City: Chaozhou, Nation: China, results: 5
City: Fortaleza, Nation: Brazil, results: 100
City: Chittagong, Nation: Bangladesh, results: 28
City: Bandung, Nation: Indonesia, results: 100
City: Managua, Nation: Nicaragua, results: 79
City: Brasília, Nation: Brazil, results: 100
City: Belo Horizonte, Nation: Brazil, results: 100
City: Daegu, Nation: Korea, South, results: 34
City: Houston, Nation: United States, results: 100
City: Douala, Nation: Cameroon, results: 36
City: Medellin, Nation: Colombia, results: 97
City: Yaoundé, Nation: Cameroon, results: 38
City: Nagpur, Nation: India, results: 46
City: Cali, Nation: Colombia, results: 100
City: Tashkent, Nation: Uzbekistan, results: 100
City: Nagoya, Nation: Japan, results: 33
City: Isfahan, Nation: Iran, results: 100
City: Phnom Penh, Nation: Cambodia, results: 64
City: Paris, Nation: France, results: 100
City: Ouagadougou, Nation: Burkina Faso, results: 8
City: Lanzhou, Nation: China, results: 4
City: Kano, Nation: Nigeria, results: 23
City: Dalian, Nation: China, results: 31
City: Guatemala City, Nation: Guatemala, results: 100
City: Havana, Nation: Cuba, results: 55
City: Rawalpindi, Nation: Pakistan, results: 100
City: Medan, Nation: Indonesia, results: 100
City: Accra, Nation: Ghana, results: 68
City: Visakhapatnam, Nation: India, results: 46
City: Gujranwala, Nation: Pakistan, results: 5
City: Jinan, Nation: China, results: 7
City: Karaj, Nation: Iran, results: 100
City: Peshawar, Nation: Pakistan, results: 17
City: Minsk, Nation: Belarus, results: 100
City: Caracas, Nation: Venezuela, results: 100
City: Sana'a, Nation: Yemen, results: 9
City: Sapporo, Nation: Japan, results: 40
City: Tainan, Nation: Taiwan, results: 31
City: Bucharest, Nation: Romania, results: 100
City: Curitiba, Nation: Brazil, results: 100
City: Shiraz, Nation: Iran, results: 100
City: Vienna, Nation: Austria, results: 100
City: Brazzaville, Nation: Congo Republic, results: 24
City: Bhopal, Nation: India, results: 26
City: Almaty, Nation: Kazakhstan, results: 100
City: Hamburg, Nation: Germany, results: 100
City: Manila, Nation: Philippines, results: 91
City: Kuala Lumpur, Nation: Malaysia, results: 87
City: Maputo, Nation: Mozambique, results: 58
City: Budapest, Nation: Hungary, results: 100
City: Warsaw, Nation: Poland, results: 100
City: Lusaka, Nation: Zambia, results: 39
City: Kathmandu, Nation: Nepal, results: 51
City: Tabriz, Nation: Iran, results: 100
City: Hyderabad, Nation: Pakistan, results: 9
City: Palembang, Nation: Indonesia, results: 60
City: Tijuana, Nation: Mexico, results: 37
City: Patna, Nation: India, results: 9
City: Montreal, Nation: Canada, results: 100
City: Davao City, Nation: Philippines, results: 75
City: Harare, Nation: Zimbabwe, results: 59
City: Barcelona, Nation: Spain, results: 100
City: Maracaibo, Nation: Venezuela, results: 100
City: Caloocan, Nation: Philippines, results: 92
City: Philadelphia, Nation: United States, results: 100
City: Novosibirsk, Nation: Russia, results: 100
City: Phoenix, Nation: United States, results: 74
City: Oran, Nation: Algeria, results: 26
City: Semarang, Nation: Indonesia, results: 100
City: Recife, Nation: Brazil, results: 100
City: Kobe, Nation: Japan, results: 45
City: Daejeon, Nation: Korea, South, results: 45
City: Kampala, Nation: Uganda, results: 65
City: Kawasaki, Nation: Japan, results: 38
City: Guadalajara, Nation: Mexico, results: 81
City: Auckland, Nation: New Zealand, results: 9
City: Vijayawada, Nation: India, results: 33
City: Fukuoka, Nation: Japan, results: 46
City: Gwangju, Nation: Korea, South, results: 22
City: Porto Alegre, Nation: Brazil, results: 100
City: Kyoto, Nation: Japan, results: 16
City: San Antonio, Nation: United States, results: 74
City: Santa Cruz de la Sierra, Nation: Bolivia, results: 100
City: Munich, Nation: Germany, results: 100
City: Kharkiv, Nation: Ukraine, results: 100
City: Yekaterinburg, Nation: Russia, results: 100
City: San Diego, Nation: United States, results: 60
City: Barranquilla, Nation: Colombia, results: 100
City: Milan, Nation: Italy, results: 100
City: Ibadan, Nation: Nigeria, results: 15
City: Makassar, Nation: Indonesia, results: 97
City: Córdoba, Nation: Argentina, results: 91
City: Prague, Nation: Czech Republic, results: 100
City: Mandalay, Nation: Myanmar, results: 27
City: Dallas, Nation: United States, results: 75
City: Montevideo, Nation: Uruguay, results: 100
City: Qom, Nation: Iran, results: 36
City: Ahvaz, Nation: Iran, results: 43
City: Sofia, Nation: Bulgaria, results: 100
City: Nizhny Novgorod, Nation: Russia, results: 100
City: Abuja, Nation: Nigeria, results: 73
City: Calgary, Nation: Canada, results: 56
City: Saitama, Nation: Japan, results: 34
City: Suwon, Nation: South Korea, results: 41
City: Hiroshima, Nation: Japan, results: 34
City: Rosario, Nation: Argentina, results: 100
City: Brisbane, Nation: Australia, results: 25
City: Allahabad, Nation: India, results: 8
City: Belgrade, Nation: Serbia, results: 100
City: Campinas, Nation: Brazil, results: 100
City: Ulsan, Nation: Korea, South, results: 19
City: Omsk, Nation: Russia, results: 74
City: Dakar, Nation: Senegal, results: 77
City: Abu Dhabi, Nation: United Arab Emirates, results: 100
City: Monterrey, Nation: Mexico, results: 90
City: Tripoli, Nation: Libya, results: 66
City: Rostov-on-Don, Nation: Russia, results: 100
City: T'bilisi, Nation: Georgia, results: 100
City: Fez, Nation: Morocco, results: 55
City: Birmingham, Nation: United Kingdom, results: 100
City: Yerevan, Nation: Armenia, results: 100
City: Cologne, Nation: Germany, results: 100
City: Tunis, Nation: Tunisia, results: 100
City: Bulawayo, Nation: Zimbabwe, results: 5
City: Astana, Nation: Kazakhstan, results: 100
City: Islamabad, Nation: Pakistan, results: 100
City: Cartagena, Nation: Colombia, results: 83

In [16]:
print ("Found {} venues for {} different cities".format(df_venues.shape[0], len(df_venues.groupby(['City', 'Nation']))))
df_venues.head()

Found 16421 venues for 247 different cities

,City,Nation,Venue,Venue ID,Venue Latitude,Venue Longitude,Venue Category
0,Chongqing,China,Hongyadong (洪崖洞),4bc830fa15a7ef3b9ca87ada,29.564942,106.574742,Shopping Mall
1,Chongqing,China,Paulaner Brauhaus,504e9876e4b0225693e3ddcb,29.538571,106.557791,German Restaurant
2,Chongqing,China,The Cactus,4df77dac45dd222116c98b42,29.565164,106.575347,Mexican Restaurant
3,Chongqing,China,观音桥步行街,4d4f81433626a093174511bd,29.577044,106.528655,Plaza
4,Chongqing,China,Blue Frog (蓝蛙),565ab146498e3f29232c2f27,29.580209,106.528782,American Restaurant

That's looking pretty awesome. Now let's prevent more scraping by saving the dataframe to a file.

## 5. Joining the dataframe

In [17]:
df_joined = pd.merge(df_venues, df_cities, on=['City','Nation'])
print ("The joined dataframe contains {} different cities".format(len(df_joined.groupby(['City', 'Nation']))))
df_joined.head()

The joined dataframe contains 247 different cities

,City,Nation,Venue,Venue ID,Venue Latitude,Venue Longitude,Venue Category,Population,URL,Latitude,Longitude
0,Chongqing,China,Hongyadong (洪崖洞),4bc830fa15a7ef3b9ca87ada,29.564942,106.574742,Shopping Mall,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
1,Chongqing,China,Paulaner Brauhaus,504e9876e4b0225693e3ddcb,29.538571,106.557791,German Restaurant,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
2,Chongqing,China,The Cactus,4df77dac45dd222116c98b42,29.565164,106.575347,Mexican Restaurant,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
3,Chongqing,China,观音桥步行街,4d4f81433626a093174511bd,29.577044,106.528655,Plaza,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
4,Chongqing,China,Blue Frog (蓝蛙),565ab146498e3f29232c2f27,29.580209,106.528782,American Restaurant,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667

## 6. Saving the dataframes

We export the dataframes so we don't have to scrape again.  
First as CSV, as this is a very generic format.  
Secondly as pickle, since this is a quick way to import the dataframe again.

In [18]:
# export both dataframes as CSV
df_cities.to_csv('cities.csv')
df_venues.to_csv('venues.csv')
df_joined.to_csv('joined.cvs')

In [19]:
# export both dataframe as pickles
df_cities.to_pickle('cities.pickle')
df_venues.to_pickle('venues.pickle')
df_joined.to_pickle('joined.pickle')