# Clustering cities depending on their most common features

## 1. Imports and such things

Use pandas to handle dataframes

In [1]:
import pandas as pd

Use Scikit-learn to do clustering

In [2]:
from sklearn.cluster import KMeans

## 2. Import dataframes from notebook 1

This dataframe contains Cities, with their nation, population, Wikipedia URL, Latitude and Longitude

In [3]:
df_cities = pd.read_pickle('cities.pickle')
df_cities.head()

,City,Nation,Population,URL,Latitude,Longitude
0,Chongqing,China,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
1,Shanghai,China,24256800,https://en.wikipedia.org/wiki/Shanghai,31.228611,121.474722
2,Delhi,India,11034555,https://en.wikipedia.org/wiki/Delhi,28.610000,77.230000
3,Beijing,China,21516000,https://en.wikipedia.org/wiki/Beijing,39.916667,116.383333
4,Dhaka,Bangladesh,14399000,https://en.wikipedia.org/wiki/Dhaka,23.716111,90.396111

This dataframe contains a long list of the top pick venues according to Foursquare in those cities

In [4]:
df_venues = pd.read_pickle('venues.pickle')
df_venues.head()

,City,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Chongqing,The Harp Irish Pub,29.565116,106.575310,Bar
1,Chongqing,重庆八一路好吃街,29.558669,106.573631,Chinese Restaurant
2,Chongqing,Paulaner Brauhaus,29.538571,106.557791,German Restaurant
3,Chongqing,重庆Muse酒吧,29.556987,106.571565,Nightclub
4,Chongqing,TT酒吧,29.557011,106.571404,Nightclub

This dataframe contains a left join of the previous two

In [5]:
df_joined = pd.read_pickle('joined.pickle')
df_joined.head()

,City,Venue,Venue Latitude,Venue Longitude,Venue Category,Nation,Population,URL,Latitude,Longitude
0,Chongqing,The Harp Irish Pub,29.565116,106.575310,Bar,China,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
1,Chongqing,重庆八一路好吃街,29.558669,106.573631,Chinese Restaurant,China,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
2,Chongqing,Paulaner Brauhaus,29.538571,106.557791,German Restaurant,China,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
3,Chongqing,重庆Muse酒吧,29.556987,106.571565,Nightclub,China,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667
4,Chongqing,TT酒吧,29.557011,106.571404,Nightclub,China,30751600,https://en.wikipedia.org/wiki/Chongqing,29.558333,106.566667